<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-list>

  <ion-item>
    <ion-label fixed>Email</ion-label>
    <ion-input type="text" value="" [(ngModel)]="user.email"></ion-input>
  </ion-item>
  <button ion-button (click)="addUser(user)">Add</button>
  <button ion-button (click)="updateUser(user)">Update</button>
  <button ion-button (click)="deleteUser(user)">Delete</button>
</ion-list>

<ion-content padding>
  <ion-card *ngFor="let user of users | async">
    <ion-card-header (click)="setCurrentUser(user)">
      {{user | json}}
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>
  <!-- <ion-card *ngFor="let user of users | async">
    <ion-card-header (click)="setCurrentUser(user)">
      {{user | json}}
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card> -->
</ion-content>
