<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="user$ | async as user;else login">
    <ion-img [src]="user.photoURL" style="max-width: 100px;margin: 15px;"></ion-img>
    <ion-card-header>
      <ion-card-title>{{user.displayName}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{user.email}}</p>
    </ion-card-content>
    <ion-button (click)="doLogout()">Logout</ion-button>
  </ion-card>
  <ng-template #login>
    <ion-button (click)="doGooglePlusLogin()">Login</ion-button>
  </ng-template>
</ion-content>